.icon-menu{
  width: 50px;
  height: 50px;
  display: none;
}
#menu-bar{
    display: none;
}

.vertical-menu {
    width: 100%;

}

.vertical-menu a {
    background-color: #fff; 
    color: black; 
    display: none; 
    padding: 12px; 
    text-decoration: none;
    text-align: center;

}

.vertical-menu a:hover {
    background-color:#C0C0C0; 
}

.vertical-menu a.active {
    background-color: transparent; 
    color: white;
}


#menu-bar:checked ~ .vertical-menu a{
display: block;
}
@media screen and (max-width: 991px) {

  .icon-menu{
    display: block;
  }

}
